*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    color: white;
    /*border: 2px solid rgb(0, 0, 0);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8 76 54);
    height: 105px;
    position: sticky;
    top: 0px;
    z-index: 5;
  }
  .navbar #logout{
    font-size: 20px;
  }
  .navbar #Adlogin{
    font-size: 20px;
  }
  .navbar #logout:hover{
    background: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
  }
  .navbar #Adlogin:hover{
    background: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
  }
  
  .navbar #losteditems,#findeditems{
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
  }
  .navbar #losteditems:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
    
  }
  .navbar #findeditems:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
  }
  
  .navbar img{
    width: 105px;
  }
  /* .navbar h1{
    margin-right: 5%;
    
  } */
  .navbar button{
    color: yellow;
    /* margin-right: 5%; */
    /* padding: 10px; */
   /* border: 2px solid rgb(0, 0, 0);
    /*border-radius: 5px;*/
    height: 105px;
    width: 100px;
    background: none;
    border: none;
  }
.listbox {
    border: 2px solid rgb(8 76 54);
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 40px auto;
    border-radius: 20px;
    padding: 10px;
    background: rgb(240, 255, 240);
    box-shadow: 2px 5px 5px rgb(8 76 54);
}


.des {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30px;
}

.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#buttons button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    font-size: 15px;
    font-weight: bolder;
}
.navbar #LostedItems,#foundeditems,#logoutbutton,#Adloginbutton{

    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
  }
  .navbar #LostedItems:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
    
  }
  .navbar #foundeditems:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
  }
  .navbar #logoutbutton:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
  }
  .navbar #Adloginbutton:hover{
    background-color: rgb(255, 255, 255);
    height: 105px;
    color: black;
    cursor: pointer;
  }
  .detail div{
    border-left: 4px solid rgb(8 76 54);
    padding-left: 10px;
  }
  .detail div button{
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(13, 123, 88);
    color: white;
    font-size: 15px;
    font-weight: bolder;
  }